<a href="https://colab.research.google.com/github/JayaprakashTatagari/FirstWebpart/blob/master/practice_python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("what is ur name? ")

print("hello " + name)

birth_year = input("what is ur birth year: ")
age = 2022   - int(birth_year)

print(age)

what is ur name? madhupriya
hello madhupriya
what is ur birth year: 1992
30

In [ ]:
#calculator program
first_number = input("enter first number: ")
second_number = input("enter second number: ")
sum = float(first_number)+ float(second_number)

print("sum of 2 numbers is: {}".format(sum))

enter first number: 99
enter second number: 2.0
sum of 2 numbers is: 101.0

In [ ]:
#string functions
course = "python for beginners"
print(course.upper())
print(course.lower())
print(course.find('y'))
print(course.find('for'))
print(course.replace('for','to'))
print('python' in course) #finding string

PYTHON FOR BEGINNERS
python for beginners
1
7
python to beginners
True

In [ ]:
#arithmetice operators
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10 ** 3)


x = 3
x += 3 #augmented assignment operator
x *= 3

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
#comparision operator(<,>,<=,>=,!=,==)

x = 3 > 2
print(x)

#logical operator (and, or , not)

price = 25
print(price > 10 and price < 30)
print(price > 10 or price < 30)
print(not(price>10))

True
True
True
False

In [ ]:
#if statments in python

temperature = 25

if temperature>30:
  print("the day is hotter")
  print("drink pleanty of water")
elif temperature > 20:
  print("its a nice day")
else:
  print("the normal day")

its a nice day

In [ ]:
weight = float(input("what is your weight: "))
kg_lb  = input("metric is it (K)g or (L)bs :")
if kg_lb.upper() == "K":
    converted = weight / 0.45
    print("Weight in Lb is:" + str(converted))
elif kg_lb.upper() == "L":
     converted = weight / 0.45
     print("Weight in Kg is:" + str(converted))
else:
  print("Invalid metric")

what is your weight: 99
metric is it (K)g or (L)bs :k
Weight in Lb is:220.0

In [ ]:
#While loop

i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i <= 10:
  print(i * '*')
  i+=1

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#Lists

names = ["madhu","chethan","prakash","junnu"]
names[0] = 'madu'
print(names)
print(names[0])
print(names[-1])
print(names[-4])

print(names[0:3])

['madu', 'chethan', 'prakash', 'junnu']
madu
junnu
madu
['madu', 'chethan', 'prakash']

In [ ]:
#list methods

fruits = ["Apple","Mango","Sapota","Banana","Avocado"]
fruits.append("watermelon")
print(fruits)
fruits.insert(0,"muskmelon")
print(fruits)
print("Sapota" in fruits)
print(len(fruits))

['Apple', 'Mango', 'Sapota', 'Banana', 'Avocado', 'watermelon']
['muskmelon', 'Apple', 'Mango', 'Sapota', 'Banana', 'Avocado', 'watermelon']
True
7

In [ ]:
#For loop

numbers = [1,2,3,4,5,6,7]

for x in numbers:
  print(x)

i = 0

while i < len(numbers):
  print(numbers[i])
  i += 1

1
2
3
4
5
6
7
1
2
3
4
5
6
7

In [ ]:
#range function

numbers = range(5)
print(numbers)

for x in numbers:
  print(x)

numbers = range(5,10)

for x in numbers:
  print(x)


numbers = range(5,10,2)

for x in numbers:
  print(x)

range(0, 5)
0
1
2
3
4
5
6
7
8
9
5
7
9

In [ ]:
#Tuples 
#tuples are unchangeble


numbers = (1,2,3,4)
print(numbers.count(3))

1